{% extends 'base.html' %}

{% block css_link %}
<link href="/assets/css/user.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="content">
    <div id="user">
        <form id="join-form" name="updateform" method="post" action="/user/update">
            {% csrf_token %}
            <input type="hidden" name="no" value="{{ request.session.authuser.no }}">
            <label class="block-label" for="name">이름</label>
            <input id="name" name="name" type="text" value="{{ user.name }}">

            <label class="block-label">이메일</label>
            <input type="hidden" name="email" value="{{ request.session.authuser.email }}">
            <h2> {{ request.session.authuser.email }} </h2>

            <label class="block-label">패스워드</label>
            <input name="password" type="password" value="{{ user.password }}">

            <fieldset>
                <legend>성별</legend>
                {% if request.session.authuser.sex == "남" %}
                <label>남</label> <input type="radio" name="sex" value="남" checked="checked">
                <label>여</label> <input type="radio" name="sex" value="여">
                {% else %}
                <label>여</label> <input type="radio" name="sex" value="여" checked="checked">
                <label>남</label> <input type="radio" name="sex" value="남">
                {% endif %}
            </fieldset>

            <input type="submit" value="변경하기">
        </form>
    </div>
</div>
{% endblock %}